{% extends "base.html" %}

{%block title%} My Surveys {%endblock%}
{%block content%}


  <div class="btn-group">
   <button type="button" class="btn btn-danger dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <i class="fa fa-search"> </i> Surveys
   </button>
   <div class="dropdown-menu">
     <a class="dropdown-item" href="{% url 'project_filter' filter='all'%}">All Surveys</a>
     <a class="dropdown-item" href="{% url 'project_filter' filter='running'%}">Running Surveys</a>
     <a class="dropdown-item" href="{% url 'project_filter' filter='archived'%}">Archived Surveys</a>
     <a class="dropdown-item" href="{% url 'project_filter' filter='closed'%}">Closed Surveys</a>
   </div>
   </div>

 <a href="{% url 'create'%}" class="btn btn-outline-primary ml-auto"  > New Survey </a>

<br/><br/>
<p>


{% for project in projects%}

  <div class="card" class="m-0 p-0">
   <div class="card-header">
    <span class='text-uppercase' style="font-size:22px"> {{project.project_name}} </span>
    <div class="btn-group float-right">
     <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <i class="fa fa-gears"> </i>
     </button>
     <div class="dropdown-menu">
       {% if project.project_status %}
       <a class="dropdown-item" href="{% url 'project_action' project_id=project.id type='deactivate' %}"><i class="fa fa-check"></i> Deactivate</a>
       {% else %}
       <a class="dropdown-item" href="{% url 'project_action' project_id=project.id type='activate' %}"><i class="fa fa-check"></i> Activate</a>
       {% endif %}

       {% if project.archived  %}
       <a class="dropdown-item" href="{% url 'project_action' project_id=project.id type='unarchive' %}"><i class="fa fa-check"></i> Reopen</a>
       {% else %}
       <a class="dropdown-item" href="{% url 'project_action' project_id=project.id type='archive' %}"><i class="fa fa-archive"></i> Archive</a>
       {% endif %}
       <a class="dropdown-item" href="{% url 'edit' project_id=project.id %}"><i class="fa fa-edit"></i> Edit</a>
       <div class="dropdown-divider"></div>
       <a class="dropdown-item" href="{% url 'report_view' project_id=project.id %}"><i class="fa fa-bar-chart"></i> Report</a>

     </div>
  </div>
   </div>
   <div class="card-body">
     <p class='pb-2'><b>Study type: {% if project.project_type == 1 %} Individual {% endif %}{% if project.project_type == 2 %} Comparision A and B {% endif %}{% if project.project_type == 3 %} Comparision A, B and C {% endif %}{% if project.project_type == 4 %} Comparision A, B, C and D {% endif %}{% if project.project_type == 5 %} Comparision A, B, C, D and E {% endif %}</b></p>

     {% for survey in project.survey_set.all %}

     {% for survey_url in survey.link_set.all%}



     <p class='mt-2'><b >Survey-{{forloop.counter}}:</b> <a target='_blank' href="http://{{domain}}/esurvey/{{survey_url.url}}">http://{{domain}}/esurvey/{{survey_url.url}}</a><span style='cursor:pointer;' onclick='copyToClipboard' data-toggle='tooltip' title='Copied!'  class=' btn-sm fa fa-copy ml-4 small text-muted btn-copy' data-clipboard-text="http://{{domain}}/esurvey/{{survey_url.url}}"> copy</span> </p>

     <p>Product: {{survey.product_name}} </p>
     <p>Duration: {{survey.start_date}} - {{survey.end_date}}</p>
     <p>Submission: {{survey_url.submission_set.all.count}}</p> <br/>


      {% endfor %}




     {% endfor %}



   </div>
  </div>
  <br/>
  <script>
  $(function () {
    $('[data-toggle="popover"]').popover();
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip({ trigger: 'click' });
  });

</script>
{% endfor %}






{%endblock %}
