
{% extends "base_form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}





{% block content %}
<form action="" method="post">{% csrf_token %}
  <h2> {%if NewOrEdit == False %}Edit {% else %} New {% endif %} survey </h2>
  <hr/><br/>

{% if err_msg %}
<div class="alert alert-danger" role="alert">
  This update will result in loss of data if there are some data collected for this survey. As you are changing the evaluation type with less number of surveys link.
</div>
{% endif %}
  <div class="row">
      <div class="col">
        <div class="multisteps-form__progress">
          {% if wizard.steps.step1 >= 1   %}
          <button id='b1' class="multisteps-form__progress-btn js-active" name="wizard_goto_step" type="submit" value="project">Step 1: General </button>
          {% else %}
          <button id='b2' class="multisteps-form__progress-btn" type="button" name="wizard_goto_step" type="submit" value="project">Step 1: General </button>
          {% endif %}

          {% if wizard.steps.step1 >= 2  %}
          <button id='b2' class="multisteps-form__progress-btn js-active" name="wizard_goto_step" type="submit"value="survey">Step 2: Survey settings</button>
          {% else %}
          <button id='b2' class="multisteps-form__progress-btn" name="wizard_goto_step" type="submit" value="survey">Step 2: Survey settings</button>
          {% endif %}
          {% if wizard.steps.step1 >= 3 %}
          <button id='b3' class="multisteps-form__progress-btn js-active" name="wizard_goto_step" type="submit" value="participants" >Step 3: Participants</button>
          {% else %}
          <button id='b2' class="multisteps-form__progress-btn" name="wizard_goto_step" type="submit" value="participants" >Step 3: Participants</button>
          {% endif %}

          {% if wizard.steps.step1 >= 4 %}
          <button id='b4' class="multisteps-form__progress-btn js-active"  name="wizard_goto_step" type="submit" value="summar" >Step 4: Summary</button>
          {% else %}
          <button id='b2' class="multisteps-form__progress-btn" name="wizard_goto_step" type="submit" value="summary"  >Step 4: Summary</button>
          {% endif %}


        </div>
      </div>
    </div>



<br/>








<div class='card'>
  <div class="card-header">
    Survey
  </div>
  <div class="card-body">
    <h4> General Information </h4>
    {{project}}
    <p class="card-text pt-2"><b>Project name:</b> {{all_data.project_name}}</p>
    <p class="card-text pt-2"><b>Project type (study):</b> {% if all_data.project_type == '1' %} Individual {% endif %}{% if all_data.project_type == '2' %} Comparision A and B {% endif %}{% if all_data.project_type == '3' %} Comparision A, B and C {% endif %}{% if all_data.project_type == '4' %} Comparision A, B, C and D {% endif %}{% if all_data.project_type == '5' %} Comparision A, B, C, D and E {% endif %}</p>

    <p class="card-text pt-2"><b>Product:</b> {{all_data.product_type}}</p>
    <p class="card-text pt-2"><b>Industry:</b> {{all_data.product_industry}}</p>


    <h4 class='mt-4'>Survey-1 </h4>
    <p class="card-text pt-2"><b>Product Name:</b> {{all_data.product_name1}}</p>
    <p class="card-text pt-2"><span class='mr-4'><b>Start date:</b> {{all_data.start_date1}}</span><span><b>End date:</b> {{all_data.end_date1}}</span></p>
    <p class="card-text pt-2"><b>Title:</b> {{all_data.title1}}</p>


    {% if all_data.project_type == '2' %}
    <h4 class='mt-4'>Survey-2 </h4>
    <p class="card-text pt-2"><b>Product Name:</b> {{all_data.product_name2}}</p>
    <p class="card-text pt-2"><span class='mr-4'><b>Start date:</b> {{all_data.start_date2}}</span><span><b>End date:</b> {{all_data.end_date2}}</span></p>
    <p class="card-text pt-2"><b>Title:</b> {{all_data.title2}}</p>
    {% endif %}


    {% if all_data.project_type == '3' %}
    <h4 class='mt-4'>Survey-2 </h4>
    <p class="card-text pt-2"><b>Product Name:</b> {{all_data.product_name2}}</p>
    <p class="card-text pt-2"><span class='mr-4'><b>Start date:</b> {{all_data.start_date2}}</span><span><b>End date:</b> {{all_data.end_date2}}</span></p>
    <p class="card-text pt-2"><b>Title:</b> {{all_data.title2}}</p>
    <h4 class='mt-4'>Survey-3 </h4>
    <p class="card-text pt-2"><b>Product Name:</b> {{all_data.product_name3}}</p>
    <p class="card-text pt-2"><span class='mr-4'><b>Start date:</b> {{all_data.start_date3}}</span><span><b>End date:</b> {{all_data.end_date3}}</span></p>
    <p class="card-text pt-2"><b>Title:</b> {{all_data.title3}}</p>
    {% endif %}
    {% if all_data.project_type == '4' %}
    <h4 class='mt-4'>Survey-2 </h4>
    <p class="card-text pt-2"><b>Product Name:</b> {{all_data.product_name2}}</p>
    <p class="card-text pt-2"><span class='mr-4'><b>Start date:</b> {{all_data.start_date2}}</span><span><b>End date:</b> {{all_data.end_date2}}</span></p>
    <p class="card-text pt-2"><b>Title:</b> {{all_data.title2}}</p>
    <h4 class='mt-4'>Survey-3 </h4>
    <p class="card-text pt-2"><b>Product Name:</b> {{all_data.product_name3}}</p>
    <p class="card-text pt-2"><span class='mr-4'><b>Start date:</b> {{all_data.start_date3}}</span><span><b>End date:</b> {{all_data.end_date3}}</span></p>
    <p class="card-text pt-2"><b>Title:</b> {{all_data.title3}}</p>
    <h4 class='mt-4'>Survey-4 </h4>
    <p class="card-text pt-2"><b>Product Name:</b> {{all_data.product_name4}}</p>
    <p class="card-text pt-2"><span class='mr-4'><b>Start date:</b> {{all_data.start_date4}}</span><span><b>End date:</b> {{all_data.end_date4}}</span></p>
    <p class="card-text pt-2"><b>Title:</b> {{all_data.title4}}</p>
    {% endif %}
    {% if all_data.project_type == '5' %}
    <h4 class='mt-4'>Survey-2 </h4>
    <p class="card-text pt-2"><b>Product Name:</b> {{all_data.product_name2}}</p>
    <p class="card-text pt-2"><span class='mr-4'><b>Start date:</b> {{all_data.start_date2}}</span><span><b>End date:</b> {{all_data.end_date2}}</span></p>
    <p class="card-text pt-2"><b>Title:</b> {{all_data.title2}}</p>
    <h4 class='mt-4'>Survey-3 </h4>
    <p class="card-text pt-2"><b>Product Name:</b> {{all_data.product_name3}}</p>
    <p class="card-text pt-2"><span class='mr-4'><b>Start date:</b> {{all_data.start_date3}}</span><span><b>End date:</b> {{all_data.end_date3}}</span></p>
    <p class="card-text pt-2"><b>Title:</b> {{all_data.title3}}</p>
    <h4 class='mt-4'>Survey-4 </h4>
    <p class="card-text pt-2"><b>Product Name:</b> {{all_data.product_name4}}</p>
    <p class="card-text pt-2"><span class='mr-4'><b>Start date:</b> {{all_data.start_date4}}</span><span><b>End date:</b> {{all_data.end_date4}}</span></p>
    <p class="card-text pt-2"><b>Title:</b> {{all_data.title4}}</p>
    <h4 class='mt-4'>Survey-5 </h4>
    <p class="card-text pt-2"><b>Product Name:</b> {{all_data.product_name5}}</p>
    <p class="card-text pt-2"><span class='mr-4'><b>Start date:</b> {{all_data.start_date5}}</span><span><b>End date:</b> {{all_data.end_date5}}</span></p>
    <p class="card-text pt-2"><b>Title:</b> {{all_data.title5}}</p>
    {% endif %}
    <br/>
      <p class="card-text pt-2">
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {% for field in form %}
                  {{field}}
                {%endfor%}
            {% endfor %}
        {% else %}
          {% for field in form %}
            {{field}}
          {%endfor%}
        {% endif %}
      </p>


  </div>
</div> <br/>

 <br/>




<a class='mr-2' style='text-decoration:underline;'   href="{% url 'project_home'%}">{% trans "Cancel" %} </a>
{% if wizard.steps.prev %}

<button class="btn btn-outline-primary" formnovalidate="formnovalidate" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" >{% trans "Back" %}</button>
{% endif %}
{%if NewOrEdit %}
<input type="submit" class='btn btn-primary'  value="{% trans "Create" %}" />
{% else %}
<input type="submit" class='btn btn-primary'  value="{% trans "Update" %}" />
{% endif %}
</form>

</div>
{% endblock %}
