{% extends 'survey-base.html' %}

{% load i18n %}

{% block content%}


<div class="d-flex justify-content-center"> <h2 class='text-primary'> STEP 1  </h2> <h2  class='text-muted'> -  STEP 2 </h2> </div>
<br/><br/>
<div class='auth-box card'>
  <div class='card-body bg-white p-4'>
<div class="row">
  <div class="col-md-12 col-lg-12">
    <h2 class="mt-5">{{project_title}}</h2>
    <hr/>

    <div>
    <p> {{paragraph | safe}} </p>
    </div>
    {% language lang %}

    {% trans 'If you have any questions regarding this survey, contact the survey owner' %} <br/>
    <b> {% trans 'Name'%} : </b> {{survey.owner}} <br/>
    <b> {% trans 'Email'%} : </b>  {{survey.owner_email}}
    <br/><br/>

    {% endlanguage %}
  </div>
  </div>
  </div>


</div><br/><br/>





<a href="{% url 'survey_form' link %}" class='btn btn-primary float-right pr-5 pl-5'> {% trans 'Next step' %} </a>
<br/><br/>

{% endblock %}
