{% extends 'survey-base.html' %}

{% load i18n %}

{% block content%}

<div class="row">
  <div class="col-lg-12">
    <h2 class="mt-5">{{project_title}}</h2>
    <hr/>

    <div>
    <p> {{paragraph | safe}} </p>
    </div>
    {% language lang %}

    {% trans 'If you have any questions regarding this survey, contact the survey owner' %} <br/>
    <b> {% trans 'Name'%} : </b> {{survey.owner}} <br/>
    <b> {% trans 'Email'%} : </b>  {{survey.owner_email}}
    <br/><br/>
    <a href="{% url 'survey_form' link %}" class='btn btn-success'> {% trans 'Start Survey' %} </a>
    {% endlanguage %}
  </div>


</div>
{% endblock %}
