{% extends 'base.html' %}

{%block title%}Research Publications{%endblock%}

{% block content %}

<div id='page2' class='album py-5 '>

  <div class='container '>
    <div class="row">
      Gulati, S., Sousa, S., & Lamas, D. (2019). Design, development and evaluation of a human-computer trust scale. Behaviour & Information Technology, 38(10), 1004-1015.
      <a href="https://www.tandfonline.com/doi/full/10.1080/0144929X.2019.1656779" target='_blank'>Paper-link</a>
      </div> <br/>
      <div class="row">
      Gulati, S., Sousa, S., & Lamas, D. (2018). Modelling trust in human-like technologies. InProceedings of the 9th Indian Conference on Human Computer Interaction (pp. 1-10). ACM.<a href="https://dl.acm.org/doi/abs/10.1145/3297121.3297124" target='_blank'>Paper-link</a>
      </div> <br/>
      <div class="row">
      Sousa, S. C., Tomberg, V., Lamas, D. R., & Laanpere, M. (2011, December). Interrelation between trust and sharing attitudes in distributed personal learning environments: The case study of lepress ple. InInternational Conference on Web-Based Learning (pp. 72-81). Springer, Berlin, Heidelberg.<a href="https://link.springer.com/chapter/10.1007/978-3-642-25813-8_8" target='_blank'>Paper-link</a>
      </div><br/>
      <div class="row">
        Sousa, S., Dias, P., & Lamas, D. (2014). A model for human-computer trust: a key contribution for leveraging trustful interactions. In 2014 9th Iberian Conference on Information Systems and Technologies (CISTI) (pp. 1-6). IEEE.

        <a href="https://link.springer.com/chapter/10.1007/978-3-319-07482-5_13" target='_blank'>Paper-link</a>
        </div><br/>
      <div class="row">
        Pender, H. L., & Lamas, D. (2018, September). How to tame a transdisciplinary interaction design process. In Proceedings of the 10th Nordic Conference on Human-Computer Interaction (pp. 742-746). ACM.
        </div><br/>
      <div class="row">
        Matias, I., Pombo, N., Garcia, N., Lamas, D., & Tomberg, V. (2018). Scaffolding Students on Connecting STEM andInteraction Design. In Proceedings of the Global Engineering Education Conference (pp. 979-987)
        <a href="https://link.springer.com/chapter/10.1007/978-3-319-07482-5_13" target='_blank'>Paper-link</a>
        </div><br/>
      <div class="row">
        Ajenaghughrure, I. B., Sousa, S. C., Kosunen, I. J., & Lamas, D. (2019). Predictive model to assess user trust: a psycho-physiological approach. In Proceedings of the 10th Indian Conference on Human-Computer Interaction (p. 4). ACM.
        <a href="https://dl.acm.org/doi/10.1145/3364183.3364195" target='_blank'>Paper-link</a>
        </div><br/>
      <div class="row">
        Ajenaghughrure, I. B., Sousa, S. C. D., & Lamas, D. R. (2018, December). The interplay between emotion and trust in technology. In Proceedings of the Second African Conference for Human Computer Interaction: Thriving Communities (p. 38). ACM.
        <a href="https://dl.acm.org/doi/10.1145/3283458.3283494" target='_blank'>Paper-link</a>
      </div>


  </div>
</div>
{% endblock%}
