{% load static%}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> TrustedUX</title>

  <!-- Bootstrap core CSS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
  .custom-radio-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }
    .form-inline {
        display: inline-block;
    }
    .navbar {
    		color: #fff;
    		background: #926dde;
    		padding: 5px 16px;
    		border-radius: 0;
    		border: none;
    		box-shadow: 0 0 4px rgba(0,0,0,.1);
    	}

    	.navbar .divider {
    		background-color: #e9ecef !important;
    	}
</style>

</head>

<body>
  <!-- Code to change survey title, subtitle, and paragraph on basis of language selection -->






  <nav class="navbar navbar-expand-xl navbar-dark">
    <div class='container'>

  		<a class="navbar-brand" href="{% url 'home'%}"><i class="fa fa-cube"></i> Trusted<b>UX</b></a>
  		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggler">
  			<span class="navbar-toggler-icon"></span>

  		</button>


  </div>
  </nav>




  <!-- Page Content -->
  <div class="container">



  <h1> Page Not Found </h1>
  <hr/>
  <p> The requested page is not found. </p>

    <br/>
  </div>
</div>
  </div>

  <footer class='text-muted bg-light' style="margin-top:2rem;padding-top:1rem;padding-bottom:1rem;">
    <div class='container text-center padding-top:.5rem;'>
      <p> TrustedUX © TrustedUX Team </p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->


  	<!-- ./Footer -->
</body>

</html>
