{% extends 'base_soft.html'%}
{% load static%}
{%block content%}

<!-- ***** Header Area End ***** -->

<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="col-xl-12  col-lg-12 col-md-12 col-sm-12">
                    <h1>Understand  how users percieve <br/>and trust technology </h1>
                    <p>Research-based online tool that enables UX practioners to <br/>analyze, measure and design trust.</p>
                    <a href="{%url 'login'%}" class='btn btn-success'> Try It Now </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Small Start ***** -->
<section class="section home-feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">


                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                        <div class="features-small-item">
                            <div class="icon">
                                <img src='{% static "assets/images/user.jpg"%}'/>
                            </div>
                            <h5 class="features-title">Easy to Use</h5>
                            <p>Online survey tool that helps measure user trust at any point in your product lifecycle</p>
                            <a href='#'>Learn more <i class="fa fa-chevron-right" ></i></a>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                        <div class="features-small-item">
                            <div class="icon">
                              <img src='{% static "assets/images/notes.jpg"%}'/>

                            </div>
                            <h5 class="features-title">Research-Based</h5>
                            <p>TrustedUX is based on empirical and scientifically-validated research <br/></p>
                            <p></p>
                            <a href='#'>Learn more <i class="fa fa-chevron-right" ></i></a>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                        <div class="features-small-item">
                            <div class="icon">
                                <img src='{% static "assets/images/chat.jpg"%}'/>
                            </div>
                            <h5 class="features-title">Visualizations</h5>
                            <p> Analyze your data in snap! Get quick insight with automatic charts and summaries </p>
                            <a href='#'>Learn more <i class="fa fa-chevron-right" ></i></a>
                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Small End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-10 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="center-heading">
                    <h2 class="section-title">Easy to use</h2>
                    <p>With the TrustedUX tool, you can easily understand how users rate their level of trustworthiness with your product or service. The online tool can support you in all the following scenarios. </p>
                </div>
<br/>
            </div>
            <div class=" offset-lg-1 col-lg-10 col-md-12 col-sm-12 align-self-center  mobile-bottom-fix">

              <nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Single Evaluation</a>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Comparision A-B</a>
						<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Multiple</a>
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class='row'>
              <div class='col col-3' style='padding:5px;'>
                <img style="width:187px;height:219px;"  src="{% static 'assets/images/single1.jpg'%}"/>
              </div>

              <div class='col col-9' style="padding-left:94px;">
              <h3 class='easy_use_section'>  Single Evaluation </h3><br/>
						<p class='easy_use_section_text'>This type of study assesses each of the two different products separately and then compares them. You will be provided with an overview of how your customers perceive each of the products. You can decide whether both products are evaluated by the same test group, or whether product A and product B are evaluated by completely different test groups.</p>
            </div>
            </div>
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class='row'>
              <div class='col col-3' style='padding:5px;'>
                <img style="width:187px;height:219px;"  src="{% static 'assets/images/compare1.jpg'%}"/>
              </div>
              <div class='col col-9'style="padding-left:94px;">
                <h3 class='easy_use_section'>Comparision A-B</h3> <br/>
						<p class='easy_use_section_text'>With the TrustedUX tool, not only can you compare user trust levels across two different products A and B but you can also compare completely different versions of the same product and understand why your users perfer a particular version. Read more on the benefits of such a study here.</p>
            </div>
            </div>
					</div>
					<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
						<div class='row'>
              <div class='col col-3' style='padding:5px;'>
                <img style="width:187px;height:219px;" src="{% static 'assets/images/multiple1.jpg'%}"/>
              </div>
              <div class='col col-9'style="padding-left:94px;">
              <h3 class='easy_use_section'>  Multiple </h3> <br/>
						<p class='easy_use_section_text'>Why not take your testing up a notch? User our online survey tool to compare multiple products, compare their trust scores with one another, gain insights and design for trust! Read more on the benefits of such a study and how to carry it using our tool here.</p>
            </div>
            </div>
					</div>

				</div>


              <!--
              <ul class="nav nav-tabs nav-fill">
                <li class="active"><a data-toggle="tab" href="#home">Single Evaluation</a></li>
                <li><a data-toggle="tab" href="#menu1">Comparision A-B</a></li>
                <li><a data-toggle="tab" href="#menu2">Multiple</a></li>

              </ul>

              <div class="tab-content">
                <div id="home" class="tab-pane active">
                  <div class='row'>
                    <div class='col col-2'>
                    </div>
                    <div class='col col-10'>
                      <br/>
                      <h3> Single Evaluation </h3>
                      <p>This type of study assesses each of the two different products separately and then compares them. You will be provided with an overview of how your customers perceive each of the products. You can decide whether both products are evaluated by the same test group, or whether product A and product B are evaluated by completely different test groups.</p>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <h3>Comparision A-B</h3>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                  <h3>Multiple</h3>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>

              </div>
              -->
            </div>
          </div>
        </div>

      </section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section " id='how'>
    <div class="container">
        <div class="row">
            <div class=" offset-lg-1 col-lg-4 col-md-4 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="left-heading">
                    <h2  style='padding-left:0px;margin-left:0px;padding-bottom:28px;'>How it works</h2>
                </div>
                <div class="left-text">
                  <dl>
                    <dt> 1 Create an account </dt><dd> Either register as a new user or sign-in into your account</dd>
                    <dt> 1 Create a survey </dt><dd> As soon as your are logged in, create a new project and your first survey</dd>
                    <dt> 2 Collect data </dt><dd> Send your survey links to your participants to collect data</dd>
                    <dt> 3 Get a report </dt><dd> Our system will automatically generate your project reports. You can download the report, as well as collected raw data</dd>
                  </dl>

              </div>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s" style="padding-top:50px;">
                <img  src="{% static 'assets/images/interface.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->


<!-- ***** Features Big Item Start ***** -->
<section class="section " id='faqs'>
    <div class="container">
        <div class="row">
            <div class="offset-lg-1  col-lg-10 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="center-heading">
                    <h2 class="section-title">Frequently Asked Questions</h2>
                </div>
                <div class="accordion" id="accordionExample">
  <div class="card" style="border-radius:0px; border:0px;border-top:1px solid #BDC2D4;border-top:1px solid #BDC2D4;">
    <div class="card-header" id="headingOne" style="background:white;font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">

        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span style="font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">What is TrustedUX?</span>
        </button>

    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      It is an easy to use online service that measure perceived trust of product or service. It enables researchers, designers and anyone else interested to run studies to understand to what extent users trust digital technologies.</div>
    </div>
  </div>
  <div class="card" style="border-radius:0px; border:0px;border-top:1px solid #BDC2D4;border-top:1px solid #BDC2D4;">
    <div class="card-header" id="headingTwo" style="background:white;font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">

        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span style="font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">What benefits does the implementation of TrustedUX offer?</span>
        </button>

    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Measuring trust on a regular basis can help understand many factors such as whether or not users are comfortable in using your product and how likely would they continue doing so! To be specific, it can help the following set of people:
  <br/>• Designers: allowing to take into account trust factors when designing a product;
  <br/>• UX researchers/practitioners: to evaluate trust, figure out user pain points and set a clear metric .   </div>
    </div>
  </div>
  <div class="card" style="border-radius:0px; border:0px;border-top:1px solid #BDC2D4;border-top:1px solid #BDC2D4;">
    <div class="card-header" id="headingThree" style="background:white;font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">

        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span style="font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">How do I use TrustedUX?</span>
        </button>

    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        You can create a new account by following the link Try it now.  After email verification, you may log and create new projects. Find more instructions here.
      </div>
    </div>
  </div>


<div class="card" style="border-radius:0px; border:0px;border-top:1px solid #BDC2D4;border-top:1px solid #BDC2D4;">
  <div class="card-header" id="headingFour" style="background:white;font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">

      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <span style="font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">How can particiapants access the questionnaire?</span>
      </button>

  </div>
  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
    <div class="card-body">
      Upon successfully creating a project, you will have the option to copy the link next to your created project. Simply send this link to your participants who can then answer your survey.
    </div>  </div>
</div>

<div class="card" style="border-radius:0px; border:0px;border-top:1px solid #BDC2D4;border-top:1px solid #BDC2D4;">
  <div class="card-header" id="headingFive" style="background:white;font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">

      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <span style="font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">How many participants can take part in study?</span>
      </button>

  </div>
  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
    <div class="card-body">
    There are no restrictions on the number of participants in a study.
    </div>  </div>
</div>





</div>
            </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->


<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">

        <div class="d-flex">
            <div class="p-3">
                <p class="copyright">Copyright &copy; 2020 TrustedUX</p>
            </div>

            <div class="ml-auto p-2">
                <img style="width:110px;height:37px;" src='{% static "assets/images/logo.png" %}'
            </div>
        </div>

    </div>
</footer>



{% endblock%}
