{% extends 'base_soft.html'%}
{% load static%}
{%block content%}
<style>
  .author {
    left: 275px;
    top: 1127px;
  border:2px solid #fff;

  -moz-box-shadow: 20px -20px  #EBF5FF;
;
  -webkit-box-shadow: 20px -20px  #EBF5FF;
  box-shadow: 20px -20px  #EBF5FF;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
}
</style>
<script>
function showEase()
{
  document.getElementById('ease_use').style.display = "block";
  document.getElementById('show_ease').style.border = "4px solid rgb(0, 126, 255)";
  document.getElementById('show_vis').style.border = "None";
  document.getElementById('show_research').style.border = "None";
  document.getElementById('research').style.display = "none";
  document.getElementById('Visualization').style.display = "none";

}
function showResearch()
{
  document.getElementById('ease_use').style.display = "none";
  document.getElementById('research').style.display = "block";
  document.getElementById('Visualization').style.display = "none";
}
function showVis()
{
  document.getElementById('ease_use').style.display = "none";
  document.getElementById('research').style.display = "none";
  document.getElementById('Visualization').style.display = "block";

  document.getElementById('show_ease').style.border = "None";
  document.getElementById('show_vis').style.border =  "4px solid rgb(0, 126, 255)";
  document.getElementById('show_research').style.border = "None";
}
function showResearch()
{
  document.getElementById('ease_use').style.display = "none";
  document.getElementById('research').style.display = "block";
  document.getElementById('Visualization').style.display = "none";


  document.getElementById('show_ease').style.border =  "None";
  document.getElementById('show_vis').style.border = "None";
  document.getElementById('show_research').style.border = "4px solid rgb(0, 126, 255)";

}
console.log(window.location.hash);
if (window.location.hash === '#research') {

  document.getElementById('ease_use').style.display = "none";
  document.getElementById('research').style.display = "block";
  document.getElementById('Visualization').style.display = "none";

  document.getElementById('show_ease').style.border =  "None";
  document.getElementById('show_vis').style.border = "None";
  document.getElementById('show_research').style.border = "4px solid rgb(0, 126, 255)";

}
</script>

<!-- ***** Header Area End ***** -->

<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="col-xl-12  col-lg-12 col-md-12 col-sm-12">
                    <h1>Online tool to measure trust </h1>
                    <p>Understand how users perceive <br/> and trust technology</p> <br/>
                    <div class='d-flex justify-content-center'><a href="{%url 'resources'%}" class='btn how_btn mr-4'> How to use </a> <a href="{%url 'register'%}" class='btn btn-success try_now_button_big'> Try It Now </a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Small Start ***** -->
<section id='features' class="section home-feature">
    <div class="container">


        <div class="row">
            <div class="col-lg-12">
                <div class="row">


                    <!-- ***** Features Small Item Start ***** -->
                    <div onclick="showEase()"  class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                        <div class="features-small-item" id="show_ease" style="border: 4px solid rgb(0, 126, 255);">
                            <div class="icon">
                                <img src='{% static "assets/images/user.jpg"%}'/>
                            </div>
                            <h5 class="features-title">Easy to Use</h5>
                            <p>Online survey tool that helps measure user trust at any point in your product lifecycle</p>

                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div onclick="showResearch()" class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                        <div class="features-small-item" id='show_research' >
                            <div class="icon">
                              <img src='{% static "assets/images/notes.jpg"%}'/>

                            </div>
                            <h5 class="features-title">Research-Based</h5>
                            <p>TrustedUX is based on empirical and scientifically-validated research <br/></p>
                            <p></p>

                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->

                    <!-- ***** Features Small Item Start ***** -->
                    <div onclick="showVis()"  class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                        <div class="features-small-item" id='show_vis'>
                            <div class="icon">
                                <img src='{% static "assets/images/chat.jpg"%}'/>
                            </div>
                            <h5 class="features-title">Visualizations</h5>
                            <p> Analyze your data in snap! Get quick insight with automatic charts and summaries </p>

                        </div>
                    </div>
                    <!-- ***** Features Small Item End ***** -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Small End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section id='ease_use'  class="section padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-10 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="center-heading">
                    <h2 class="section-title">Easy to use</h2>
                    <p>With the TrustedUX tool, you can easily understand how users rate their level of trustworthiness with your product or service. The online tool can support you in all the following scenarios. </p>
                </div>
<br/>
            </div>
            <div class=" offset-lg-1 col-lg-10 col-md-12 col-sm-12 align-self-center  mobile-bottom-fix">

        <nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Single Evaluation</a>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Comparision A-B</a>
						<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Multiple</a>
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class='row'>
              <div class='col col-3' style='padding:5px;'>
                <img style="width:187px;height:219px;"  src="{% static 'assets/images/single1.jpg'%}"/>
              </div>

              <div class='col col-9' style="padding-left:94px;">
              <h3 class='easy_use_section'>  Single Evaluation </h3><br/>
						<p class='easy_use_section_text'>This type of study assesses each of the two different products separately and then compares them. You will be provided with an overview of how your customers perceive each of the products. You can decide whether both products are evaluated by the same test group, or whether product A and product B are evaluated by completely different test groups.</p>
            </div>
            </div>
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class='row'>
              <div class='col col-3' style='padding:5px;'>
                <img style="width:187px;height:219px;"  src="{% static 'assets/images/compare1.jpg'%}"/>
              </div>
              <div class='col col-9'style="padding-left:94px;">
                <h3 class='easy_use_section'>Comparision A-B</h3> <br/>
						<p class='easy_use_section_text'>With the TrustedUX tool, not only can you compare user trust levels across two different products A and B but you can also compare completely different versions of the same product and understand why your users perfer a particular version. Read more on the benefits of such a study here.</p>
            </div>
            </div>
					</div>
					<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
						<div class='row'>
              <div class='col col-3' style='padding:5px;'>
                <img style="width:187px;height:219px;" src="{% static 'assets/images/multiple1.jpg'%}"/>
              </div>
              <div class='col col-9'style="padding-left:94px;">
              <h3 class='easy_use_section'>  Multiple </h3> <br/>
						<p class='easy_use_section_text'>Why not take your testing up a notch? User our online survey tool to compare multiple products, compare their trust scores with one another, gain insights and design for trust! Read more on the benefits of such a study and how to carry it using our tool here.</p>
            </div>
            </div>
					</div>

				</div>
            </div>
          </div>
        </div>

      </section>
<!-- ***** Features Big Item End ***** -->


<!-- ***** Features Research 1Start ***** -->
<section id='research' style="display:none;" class="section padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-10 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="center-heading">
                    <h2 class="section-title">Research-based</h2>
                    <p>Take advantage of a robust scientifically developed scale for trust measurement. Our work has been reviewed and published in high level scientific venues. Be rest assured that the results which you get are a product of years of scientific work at the highest level!  </p>
                </div>
<br/>
            </div>
            <div class=" offset-lg-1 col-lg-10 col-md-12 col-sm-12 align-self-center  mobile-bottom-fix">

        <nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home1-tab" data-toggle="tab" href="#nav-home1" role="tab" aria-controls="nav-home1" aria-selected="true">Work model</a>
						<a class="nav-item nav-link" id="nav-profile1-tab" data-toggle="tab" href="#nav-profile1" role="tab" aria-controls="nav-profile1" aria-selected="false">Instrument of measurement</a>
						<a class="nav-item nav-link" id="nav-contact1-tab" data-toggle="tab" href="#nav-contact1" role="tab" aria-controls="nav-contact1" aria-selected="false">Publications</a>
            <a class="nav-item nav-link" id="nav-auth1-tab" data-toggle="tab" href="#nav-auth1" role="tab" aria-controls="nav-auth1" aria-selected="false">Authors</a>

          </div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home1" role="tabpanel" aria-labelledby="nav-home1-tab">
            <br/>
            <div class='row justify-content-center'>
              <h3 class='easy_use_section pb-3'>  Work model </h3><br/>
            <p class='easy_use_section_text'>This type of study assesses each of the two different products separately and then compares them. You will be provided with an overview of how your customers perceive each of the products. You can decide whether both products are evaluated by the same test group, or whether product A and product B are evaluated by completely different test groups.</p>
            </div>

            <div class='row'>
              <img  src="{% static 'assets/images/work_model.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
					</div>
					<div class="tab-pane fade" id="nav-profile1" role="tabpanel" aria-labelledby="nav-profile1-tab">
            <br/>
            <div class='row justify-content-center'>
              <h3 class='easy_use_section pb-3'> Instrument of measurement </h3><br/>
            <p class='easy_use_section_text'>To measure trust, we use a set of 12 statements on a 5-point likert scale where 1 indicates strongly disagree and 5 indicates strongly agree. These 12 statements can be used by a UX practitioner to make a questionnaire when evaluating trust with a product or servce. Learn more about trust score in Documentation. </p>
            </div>

            <div class='row'>
              <img  src="{% static 'assets/images/survey.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
					</div>
					<div class="tab-pane fade" id="nav-contact1" role="tabpanel" aria-labelledby="nav-contact1-tab">
            <br/>
            <div class='row justify-content-center'>


              <h3 class='easy_use_section '>  Publications </h3>

            </div>
            <br/><br/>
            <!-- article -->
            <div class='row'>
              <div class='col-lg-2 col-md-2 col-sm-2'>
                <img  src="{% static 'assets/images/one.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
             </div>
             <div class='col'>
               Siddharth Gulati, Sonia Sousa & David Lamas. 2019. Design, development and evaluation of a human-computer trust scale. Behaviour & Information Technology, 38:10, 1004-1015, DOI: 10.1080/0144929X.2019.1656779
             </div>
           </div>
            <!-- end -->
            <br/><br/>
            <!-- article -->
            <div class='row'>
              <div class='col-lg-2 col-md-2 col-sm-2'>
                <img  src="{% static 'assets/images/two.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
             </div>
             <div class='col'>
               Siddharth Gulati, Sonia Sousa, and David Lamas. 2019. Towards an empirically developed scale for measuring trust. Proceedings of the 31st European Conference on Cognitive Ergonomics. Association for Computing Machinery, New York, NY, USA, 45–48. DOI:https://doi.org/10.1145/3335082.3335116
             </div>
           </div>
            <!-- end -->
            <br/>
            <!-- article -->
            <div class='row'>
              <div class='col-lg-2 col-md-2 col-sm-2'>
                <img  src="{% static 'assets/images/three.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
             </div>
             <div class='col'>
               Siddharth Gulati, Sonia Sousa, and David Lamas. 2018. Modelling trust in human-like technologies. In Proceedings of the 9th Indian Conference on Human Computer Interaction (IndiaHCI'18). Association for Computing Machinery, New York, NY, USA, 1–10. DOI:https://doi.org/10.1145/3297121.3297124
             </div>
           </div>
            <!-- end -->
            <br/>
            <!-- article -->
            <div class='row'>
              <div class='col-lg-2 col-md-2 col-sm-2'>
                <img  src="{% static 'assets/images/four.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
             </div>
             <div class='col'>
               Gulati S., Sousa S., Lamas D. 2017. Modelling Trust: An Empirical Assessment. In: Bernhaupt R., Dalvi G., Joshi A., K. Balkrishan D., O’Neill J., Winckler M. (eds) Human-Computer Interaction – INTERACT 2017. INTERACT 2017. Lecture Notes in Computer Science, vol 10516. Springer, Cham. https://doi.org/10.1007/978-3-319-68059-0_3
 </div>
           </div>
            <!-- end -->




					</div>

          <div class="tab-pane fade" id="nav-auth1" role="tabpanel" aria-labelledby="nav-auth1-tab">
						<div class='row'>
              <div class='col col-3 mt-3' style='padding:5px;'>
                <img class='img author' src="{% static 'assets/images/sid.png'%}"/>
              </div>
              <div class='col col-9'style="padding-left:94px;">
              <b class='text-primary'>  Siddharth Nakul Gulati, Phd </b> <br/>
						<p class='text-muted'>Sid is a Phd student and the focus of his research is to understand the role of trust in user engagement. His main goal is to develop evaluation frameworks in the form of empirical models or scales which can be used to monitor trust levels of users during their interactions with a technological artifact. This work stems from the motivation that despite repeated trust breaches in the online environment, there has been little change in the behavior of people. </p>
            </div>
            </div>
            <br/>
            <div class='row'>
              <div class='col col-3 mt-3' style='padding:5px;'>
                <img class='img author' src="{% static 'assets/images/sonia.png'%}"/>
              </div>
              <div class='col col-9'style="padding-left:94px;">
              <b class='text-primary'>   Sónia Sousa, Associate Professor, Tallinn University </b> <br/>
						<p class='text-muted'>Sónia is an Associate Professor and Researcher of Interaction Design. Since her post-doc projects in Tallinn University and Aberta University, she has been focusing on exploring the role of Trust in technologically enhanced contexts. Her research evolves around the Trust socio-technical model and Human-computer Interaction. She teaches multiple courses for the master program and supervises doctoral projects.  </p>
            </div>
            </div>
            <br/>
            <div class='row'>
              <div class='col col-3 mt-3' style='padding:5px;'>
                <img class='img author' src="{% static 'assets/images/david.png'%}"/>
              </div>
              <div class='col col-9'style="padding-left:94px;">
                <b class='text-primary'>  David Lamas, Professor of Interaction Design, Head of HCI group, Tallinn University </b> <br/>
						<p class='text-muted'>David Lamas main research interests are design theory and methodologies, and he has been designing organisations, communities and human technologies, systems and more since his post-doc at Michigan State University as a member of the MIND Labs network. He has done so in the USA, UK, Portugal, Cape Verde, and recently in Mozambique, Afghanistan and Estonia, developing through his experiences an acute understanding of how to shape and lead transformation processes. </p>
            </div>
            </div>
					</div>


				</div>
            </div>
          </div>
        </div>

      </section>
<!-- ***** Features Big Item End ***** -->


<!-- ***** Features Visualizations Start ***** -->
<section id='Visualization' style="display:none;" class="section padding-bottom-100">
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-10 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="center-heading">
                    <h2 class="section-title">Visualization</h2>
                    <p>Survey results are presented in an easy to understand format. You can generate a report from the project menu in your dashboard. </p>
                </div>
<br/>
            </div>
            <div class=" offset-lg-1 col-lg-10 col-md-12 col-sm-12 align-self-center  mobile-bottom-fix">

        <nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-demo-tab" data-toggle="tab" href="#nav-demo" role="tab" aria-controls="nav-demo" aria-selected="true">Demographics</a>
						<a class="nav-item nav-link" id="nav-vis-tab" data-toggle="tab" href="#nav-vis" role="tab" aria-controls="nav-vis" aria-selected="false">Visualizations</a>

					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-demo" role="tabpanel" aria-labelledby="nav-demo-tab">
            <br/>

              <h3 class='easy_use_section text-center '> Demographics </h3><br/>
            <p class='easy_use_section_text text-center'>Get a breakdown of participant demographics such as age, gender, nationality etc. </p>

            <br/>
            <div class='row'>
              <img  src="{% static 'assets/images/demographics.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
					</div>
					<div class="tab-pane fade" id="nav-vis" role="tabpanel" aria-labelledby="nav-vis-tab">
            <br/>

              <h3 class='easy_use_section text-center'> Trust measurement</h3><br/>
            <p class='easy_use_section_text text-center'>Not only can you see an overall trust score, but we also break down survey results to different trust dimensions such as  competence, risk perception & benevolence. </p>

            <br/>
            <div class='row'>
              <img  src="{% static 'assets/images/vis.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
					</div>

				</div>
            </div>
          </div>
        </div>

      </section>
<!-- ***** Features Big Item End ***** -->


<!-- ***** Features Big Item Start ***** -->
<section class="section " id='how'>
    <div class="container">
        <div class="row">
            <div class=" offset-lg-1 col-lg-4 col-md-4 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="left-heading">
                    <h2  style='padding-left:0px;margin-left:0px;padding-bottom:28px;'>How it works</h2>
                </div>
                <div class="left-text">
                  <dl>
                    <dt> 1 Create an account </dt><dd> Either register as a new user or sign-in into your account</dd>
                    <dt> 1 Create a survey </dt><dd> As soon as your are logged in, create a new project and your first survey</dd>
                    <dt> 2 Collect data </dt><dd> Send your survey links to your participants to collect data</dd>
                    <dt> 3 Get a report </dt><dd> Our system will automatically generate your project reports. You can download the report, as well as collected raw data</dd>
                  </dl>

              </div>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s" style="padding-top:50px;">
                <img  src="{% static 'assets/images/interface.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->


<!-- ***** Features Big Item Start ***** -->
<section class="section " id='faqs'>
    <div class="container">
        <div class="row">
            <div class="offset-lg-1  col-lg-10 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
                <div class="center-heading">
                    <h2 class="section-title">Frequently Asked Questions</h2>
                </div>
                <div class="accordion" id="accordionExample">
  <div class="card" style="border-radius:0px; border:0px;border-top:1px solid #BDC2D4;border-top:1px solid #BDC2D4;">
    <div class="card-header" id="headingOne" style="background:white;font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">

        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span style="font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">What is TrustedUX?</span>
        </button>

    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      It is an easy to use online service that measure perceived trust of product or service. It enables researchers, designers and anyone else interested to run studies to understand to what extent users trust digital technologies.</div>
    </div>
  </div>
  <div class="card" style="border-radius:0px; border:0px;border-top:1px solid #BDC2D4;border-top:1px solid #BDC2D4;">
    <div class="card-header" id="headingTwo" style="background:white;font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">

        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span style="font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">What benefits does the implementation of TrustedUX offer?</span>
        </button>

    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Measuring trust on a regular basis can help understand many factors such as whether or not users are comfortable in using your product and how likely would they continue doing so! To be specific, it can help the following set of people:
  <br/>• Designers: allowing to take into account trust factors when designing a product;
  <br/>• UX researchers/practitioners: to evaluate trust, figure out user pain points and set a clear metric .   </div>
    </div>
  </div>
  <div class="card" style="border-radius:0px; border:0px;border-top:1px solid #BDC2D4;border-top:1px solid #BDC2D4;">
    <div class="card-header" id="headingThree" style="background:white;font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">

        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span style="font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">How do I use TrustedUX?</span>
        </button>

    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        You can create a new account by following the link Try it now.  After email verification, you may log and create new projects. Find more instructions here.
      </div>
    </div>
  </div>


<div class="card" style="border-radius:0px; border:0px;border-top:1px solid #BDC2D4;border-top:1px solid #BDC2D4;">
  <div class="card-header" id="headingFour" style="background:white;font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">

      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <span style="font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">How can particiapants access the questionnaire?</span>
      </button>

  </div>
  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
    <div class="card-body">
      Upon successfully creating a project, you will have the option to copy the link next to your created project. Simply send this link to your participants who can then answer your survey.
    </div>  </div>
</div>

<div class="card" style="border-radius:0px; border:0px;border-top:1px solid #BDC2D4;border-top:1px solid #BDC2D4;">
  <div class="card-header" id="headingFive" style="background:white;font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">

      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <span style="font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">How many participants can take part in study?</span>
      </button>

  </div>
  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
    <div class="card-body">
    There are no restrictions on the number of participants in a study.
    </div>  </div>
</div>

<div class="card" style="border-radius:0px; border:0px;border-top:1px solid #BDC2D4;border-top:1px solid #BDC2D4;">
  <div class="card-header" id="headingsix" style="background:white;font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">

      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
        <span style="font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">Is the input data protected against any misuse?</span>
      </button>

  </div>
  <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
    <div class="card-body">
    Data protection is important to us. The data you enter will be processed anonymously and will not be passed on to any third party. Only you know who your test participants and customers are. We therefore have no information or contact details of your test participants.
    </div>  </div>
</div>

<div class="card" style="border-radius:0px; border:0px;border-top:1px solid #BDC2D4;border-top:1px solid #BDC2D4;">
  <div class="card-header" id="headingseven" style="background:white;font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">

      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
        <span style="font-weight: bold;font-size: 18px;line-height: 24px;letter-spacing: 0.2px;">Why TrustedUX is free of charge?</span>
      </button>

  </div>
  <div id="collapseseven" class="collapse" aria-labelledby="headingsix" data-parent="#accordionExample">
    <div class="card-body">
    TrustedUX is a research project, which was funded by NGI-Trust. Our main aim is to provide a tool for UX practitioners to measure and analyze trust to improve technological projects.
    </div>  </div>
</div>


</div>
            </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->


<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">

        <div class="d-flex">
            <div class="p-3">
                <p class="copyright">Copyright &copy; 2020 TrustedUX</p>
            </div>

            <div class="ml-auto p-2">
                <img style="width:110px;height:37px;" src='{% static "assets/images/logo.png" %}'
            </div>
        </div>

    </div>
</footer>



{% endblock%}
